### Identify a model to determine the price of a car and the factors which impact this price
- Data load
    - Determine the encoding.
- Process the data to clean the dataset , impute if needed, manage categorical data.
    - Drop data with lot of 'NA' values
    - convert the categorical into numeric
    - Create Dummy variables ,if needed
- Idenitfy the best feature to be used or the model
    - Evaluate the features on the p-value scale and the adj-r-squar values
- Build the Model
    - Build the model using the training data
- Use the model to predict the price

In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

df_cardata = pd.read_csv("CarPrice_Assignment.csv")

In [2]:
df_cardata.shape

(205, 26)

In [3]:
# check the information about the data set
df_cardata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
car_ID              205 non-null int64
symboling           205 non-null int64
CarName             205 non-null object
fueltype            205 non-null object
aspiration          205 non-null object
doornumber          205 non-null object
carbody             205 non-null object
drivewheel          205 non-null object
enginelocation      205 non-null object
wheelbase           205 non-null float64
carlength           205 non-null float64
carwidth            205 non-null float64
carheight           205 non-null float64
curbweight          205 non-null int64
enginetype          205 non-null object
cylindernumber      205 non-null object
enginesize          205 non-null int64
fuelsystem          205 non-null object
boreratio           205 non-null float64
stroke              205 non-null float64
compressionratio    205 non-null float64
horsepower          205 non-null int64
peakrpm             205 non-null int64
citympg             205 non-null int64
highwaympg          205 non-null int64
price               205 non-null float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.7+ KB

### Convert the independent variables from categorical to Numbric.
check if the performance is similar if dumy used instead of values

In [4]:
#Create a 'Car' column which will hold the value for the car company name
df_cardata['CarName'] = df_cardata['CarName'].str.strip()
df_cardata['Car'] = df_cardata['CarName'].str.split(expand=True)[0]

In [5]:
# convert categorical values into numeric

df_cardata['fueltype'] = pd.Categorical(df_cardata['fueltype']).codes
df_cardata['aspiration'] = pd.Categorical(df_cardata['aspiration']).codes
df_cardata['enginelocation'] = pd.Categorical(df_cardata['enginelocation']).codes

In [6]:
#df_cardata['fuelsystem'].value_counts()

In [7]:
#Convert categorical to numeric
df_cardata['doornumber'] = df_cardata['doornumber'].str.lower()
df_cardata['doornumber'] = df_cardata['doornumber'].map({'two': 2, 'four': 4})

In [8]:
#Convert categorical to numeric
df_cardata['drivewheel'] = df_cardata['drivewheel'].str.strip()
df_cardata['drivewheel'] = df_cardata['drivewheel'].str.lower()
df_cardata['drivewheel'] = df_cardata['drivewheel'].map({'fwd': 1, 'rwd': 2,'4wd':3})

In [9]:
df_cardata['cylindernumber'] = df_cardata['cylindernumber'].str.strip()
df_cardata['cylindernumber'] = df_cardata['cylindernumber'].str.lower()
df_cardata['cylindernumber'] = df_cardata['cylindernumber'] \
.map({'six': 6, 'four': 4, 'five':5,'eight' :8, 'two':2, 'twelve':12, 'three':3})

In [10]:
df_cardata['enginetype'] = df_cardata['enginetype'].str.strip()
df_cardata['enginetype'] = df_cardata['enginetype'].str.lower()
df_cardata['enginetype'] = df_cardata['enginetype'] \
.map({'ohc': 1, 'ohcf': 2, 'ohcv':3,'dohc' :4, 'l':5, 'rotor':6, 'dohcv':7})

In [11]:
df_cardata['fuelsystem'] = df_cardata['fuelsystem'].str.strip()
df_cardata['fuelsystem'] = df_cardata['fuelsystem'].str.lower()
df_cardata['fuelsystem'] = df_cardata['fuelsystem'] \
.map({'mpfi': 1, '2bbl': 2, 'idi':3,'1bbl' :4, 'spdi':5, '4bbl':6, 'spfi':7, 'mfi':8})

In [12]:
#Convert categorical to numeric
car_dict = {'nissan' : 1, 'alfa-romero': 2,'audi': 3,'bmw':4, 'buick':5, 'chevrolet':6 \
           ,'dodge' : 7, 'honda': 8,'isuzu': 9,'jaguar':10, 'porsche':11, 'renault':12 \
           ,'saab' : 13, 'subaru': 14,'toyota': 15,'toyouta':16, 'vokswagen':17, 'volkswagen':18 \
           ,'volvo' : 19, 'vw': 20,'mazda': 21,'mitsubishi':22, 'volvo':23, 'peugeot':24 \
           ,'plymouth' : 25, 'maxda': 26,'mercury ': 27}
df_cardata['Car'] = df_cardata['Car'].str.strip()
df_cardata['Car'] = df_cardata['Car'].str.lower()
df_cardata['Car'] = df_cardata['Car'].map(car_dict)

In [13]:
#Convert categorical to numeric - carbody
carbody_dict = {'sedan' : 1, 'hatchback': 2,'wagon': 3,'hardtop':4, 'convertible':5}
df_cardata['carbody'] = df_cardata['carbody'].str.strip()
df_cardata['carbody'] = df_cardata['carbody'].str.lower()
df_cardata['carbody'] = df_cardata['carbody'].map(carbody_dict)

In [14]:
# Create dummy variable for the categorical values
#car_catg = pd.get_dummies(df_cardata['Car'])
#car_catg.head()

In [15]:
df_cardata.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,Car
0,1,3,alfa-romero giulia,1,0,2,5,2,0,88.6,...,1,3.47,2.68,9.0,111,5000,21,27,13495.0,2.0
1,2,3,alfa-romero stelvio,1,0,2,5,2,0,88.6,...,1,3.47,2.68,9.0,111,5000,21,27,16500.0,2.0
2,3,1,alfa-romero Quadrifoglio,1,0,2,2,2,0,94.5,...,1,2.68,3.47,9.0,154,5000,19,26,16500.0,2.0
3,4,2,audi 100 ls,1,0,4,1,1,0,99.8,...,1,3.19,3.40,10.0,102,5500,24,30,13950.0,3.0
4,5,2,audi 100ls,1,0,4,1,3,0,99.4,...,1,3.19,3.40,8.0,115,5500,18,22,17450.0,3.0